

<div class="form-group">
  <form #f="ngForm" name="theForm" (submit)="submitAssignment(f)">
  <label>Assignment</label>
  <mat-form-field>
    <input matInput placeholder="Submit assignment" name="name" required [(ngModel)]="assignment.name" #assignmentName ="ngModel">
  </mat-form-field>

  <span *ngIf="assignmentName.errors?.required && assignmentName.touched">
        The assignment name is required
      </span>
<button class="btn btn-primary btn-sm" [disabled]="f.invalid"></button>
</form>
</div>
