<form (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Register</h2>
    <mat-dialog-content>
      <label id="pick-user-type-label">Please choose your user type:  </label> <br>
        <mat-radio-group aria-label="pick-user-type-label">
          <mat-radio-button value="teacher">Teacher</mat-radio-button>
          <mat-radio-button value="student">Student</mat-radio-button>
        </mat-radio-group>
        <p>
        <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
          <input matInput [(ngModel)]="name" name="name">
        </mat-form-field>
        </p>
        <p>
        <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="username" name="username">
        </mat-form-field>
        </p>
        <p>
        <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" name="password">
        </mat-form-field>
        </p>
        </mat-dialog-content>

        <mat-dialog-actions>
          <button type="submit" class="mat-raised-button">Register</button>
          <button class="mat-raised-button" mat-button [mat-dialog-close]="true">Cancel</button>
        </mat-dialog-actions>
</form>

