<app-teachers-nav></app-teachers-nav>

<div class="table" *ngIf="announcements">
  <h3 matColumnDef="title">Announcements</h3>
  <table mat-table [dataSource]="announcements" >
  <ng-container matColumnDef="annTitle">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let ann"> {{ann.annTitle}} </td>
  </ng-container>
  <ng-container matColumnDef="annBody">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let ann"> {{ann.annBody}} </td>
  </ng-container>
  <ng-container matColumnDef="teacherName">
    <th mat-header-cell *matHeaderCellDef> By: </th>
    <td mat-cell *matCellDef="let ann"> {{ann.teacherName}} </td>
  </ng-container>
  <ng-container matColumnDef="annDateCreated">
    <th mat-header-cell *matHeaderCellDef> Created On </th>
    <td mat-cell *matCellDef="let ann"> {{ann.annDateCreated | date}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumnsAnn"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsAnn;"></tr>
</table>
</div>

<div class="table" *ngIf="assignments">
  <h3 matColumnDef="title">Assignments</h3>
  <table mat-table [dataSource]="assignments">
    <ng-container matColumnDef="asnTitle">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let asn"> {{asn.asnTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="asnBody">
      <th mat-header-cell *matHeaderCellDef> Assignment </th>
      <td mat-cell *matCellDef="let asn"> {{asn.asnBody}} </td>
    </ng-container>
    <ng-container matColumnDef="asnDateCreated">
      <th mat-header-cell *matHeaderCellDef> Date Created </th>
      <td mat-cell *matCellDef="let asn"> {{asn.asnDateCreated | date}} </td>
    </ng-container>
    <ng-container matColumnDef="asnDueDate">
      <th mat-header-cell *matHeaderCellDef> Date Due </th>
      <td mat-cell *matCellDef="let asn"> {{asn.asnDueDate | date}} </td>
    </ng-container>
    <ng-container matColumnDef="asnGrade">
      <th mat-header-cell *matHeaderCellDef> Grade </th>
      <td mat-cell *matCellDef="let asn"> {{asn.asnGrade}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsAsn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAsn;"></tr>
  </table>
</div>
