<app-teachers-nav></app-teachers-nav>
<a mat-button routerLink="/teachers/assignments">Back</a>
  <div *ngIf="assignment">
    Title: {{assignment.asnTitle}} <br>
    Body: {{assignment.asnBody}}<br>
    Date Created: {{assignment.asnDateCreated}}<br>
    Due Date: {{assignment.asnDueDate}} <br>
    Teachers Name: {{assignment.teacherName}}<br>
    Grade: {{assignment.asnGrade}} <br>
    <button mat-stroked-button (click)="editAsnForm()">Edit Assignment</button>
    <button mat-stroked-button (click)="delete()" *ngIf="!submissions">Delete</button>





  <form id="editForm" (ngSubmit)="editAsn(assignment.asnTitle, assignment.asnBody, assignment.asnDueDate, assignment.asnGrade)" style="display:none;">
    <h2>Edit Assignment</h2>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Title of assignment</mat-label>
        <input matInput name="asnTitle" [(ngModel)]="assignment.asnTitle" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Assignment</mat-label>
        <input matInput name="asnBody" [(ngModel)]="assignment.asnBody" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Choose a date yyyy/mm/dd"  matInput name="asnDueDate" [(ngModel)]="assignment.asnDueDate" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Grade</mat-label>
        <input matInput name="asnGrade" [(ngModel)]="assignment.asnGrade" required>
      </mat-form-field>
    </p>
    <button mat-stroked-button type="submit">Edit</button>
  </form>
  </div>


  <div class="mat-elevation-z8" *ngIf="submissions">
    <h3 matColumnDef="title">Submissions</h3>
    <table mat-table [dataSource]="submissions">
      <ng-container matColumnDef="studentID">
        <th mat-header-cell *matHeaderCellDef>Student ID</th>
        <td mat-cell *matCellDef="let sub">{{sub.studentID}}</td>
      </ng-container>
      <ng-container matColumnDef="studentName">
        <th mat-header-cell *matHeaderCellDef>Student Name</th>
        <td mat-cell *matCellDef="let sub">{{sub.studentName}}</td>
      </ng-container>
      <ng-container matColumnDef="submission">
        <th mat-header-cell *matHeaderCellDef>Submission</th>
        <td mat-cell *matCellDef="let sub">{{sub.submission}}</td>
      </ng-container>
      <ng-container matColumnDef="submissionDate">
        <th mat-header-cell *matHeaderCellDef>Submission Date</th>
        <td mat-cell *matCellDef="let sub">{{sub.submissionDate}}</td>
      </ng-container>
      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef>Grade</th>
        <td mat-cell *matCellDef="let sub"><input type="text" [(ngModel)]="sub.grade"></td>
      </ng-container>
      <ng-container matColumnDef="addGrade">
        <th mat-header-cell *matHeaderCellDef>edit/add Grade</th>
        <td mat-cell *matCellDef="let sub">
          <button type="button" mat-stroked-button (click)="editGrade(sub.studentID, sub.grade)">add</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

