
  <div *ngIf="assignment">
    {{assignment.asnTitle}}
    {{assignment.asnBody}}
    {{assignment.asnDateCreated}}
    {{assignment.asnDueDate}}
    {{assignment.asnGrade}}
    {{assignment.teacherName}}
    <button (click)="editAsnForm()">Edit Assignment</button>


  <form id="editForm" (ngSubmit)="editAsn()" style="display:none;">
    <h2>Edit Assignment</h2>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Title of assignment</mat-label>
        <input matInput name="asnTitle" value="{{assignment.asnTitle}}" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Assignment</mat-label>
        <input matInput value="{{assignment.asnBody}}" name="asnBody" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Due Date</mat-label>
        <input matInput value="{{assignment.asnDueDate}}" name="asnDueDate" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Grade</mat-label>
        <input matInput value="{{assignment.asnGrade}}" name="asnGrade" required>
      </mat-form-field>
    </p>
    <button mat-stroked-button type="submit">Edit</button>
  </form>
  </div>

<div *ngFor="let sub of submissions">
  <p>
    {{sub.studentName}}<br>
    {{sub.submission}}<br>
    {{sub.submissionDate}}<br>
    grade: {{sub.grade}}
  </p>
</div>

