<mat-toolbar>
  <h2>Welcome to the CMHS Course Website</h2>
  <span class="toolbar-flex"></span>
  <a routerLink='/home' >Home</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/students/assignments'>Assignments</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/students/announcements'>Announcements</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/students/grades'>Grades</a>
  <span class="toolbar-flex"></span>
</mat-toolbar>

<div id="theList" *ngIf="assignments">

  <h2>Assignments</h2>
  <ul>
    <li *ngFor="let item of grades"><p>{{item.asnTitle}}</p> <p>{{item.asnBody}}</p> <p> {{item.asnDateCreated}}</p> <p> {{item.asnDueDate}}</p></li>
  </ul>
</div>

<div id="submitForm">
  <h2>The form</h2>
  <form name="submitForm">

    <a routerLink="submissions"> <button class="btn btn-primary btn-sm">Submit Assignment</button></a>
  </form>


</div>
