<app-students-nav></app-students-nav>

<div *ngIf="grades">
  <mat-card *ngFor="let grade of grades" class="card">
    <mat-card-header>
      <mat-card-title>{{grade.asnTitle}}</mat-card-title>
      <mat-card-subtitle>Submission date: {{grade.submissionDate | date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Your submission: <strong>{{grade.submission}}</strong></p>
      <h2>Your Grade: <em>{{grade.grade}}</em></h2>
    </mat-card-content>
  </mat-card>
</div>
