<mat-toolbar color="primary">
  <h2>Welcome to the CMHS Course Website</h2>
  <span class="fill-space"></span>
  <button mat-raised-button (click)="openLogin()" color="accent">Login</button>
  <button mat-raised-button (click)="openRegister()" color="accent">Register</button>
</mat-toolbar>

<div class="table" *ngIf="announcements">
  <h3 matColumnDef="title">Announcements</h3>
  <table mat-table [dataSource]="announcements" >
    <ng-container matColumnDef="annTitle">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let ann"> {{ann.annTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="annBody">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let ann"> {{ann.annBody}} </td>
    </ng-container>
    <ng-container matColumnDef="teacherName">
      <th mat-header-cell *matHeaderCellDef> By: </th>
      <td mat-cell *matCellDef="let ann"> {{ann.teacherName}} </td>
    </ng-container>
    <ng-container matColumnDef="annDateCreated">
      <th mat-header-cell *matHeaderCellDef> Created On </th>
      <td mat-cell *matCellDef="let ann"> {{ann.annDateCreated | date}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsAnn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAnn;"></tr>
  </table>
</div>


