<app-students-nav></app-students-nav>

<div *ngIf="announcements" class="table">

  <table mat-table [dataSource]="announcements">


    <ng-container matColumnDef="annTitle">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element"> {{element.annTitle}} </td>
    </ng-container>

    <!-- Announcement body -->
    <ng-container matColumnDef="annBody">
      <th mat-header-cell *matHeaderCellDef>Content</th>
      <td mat-cell *matCellDef="let element"> {{element.body}} </td>
    </ng-container>

    <!-- Announcement date created -->
    <ng-container matColumnDef="annDateCreated">
      <th mat-header-cell *matHeaderCellDef>Date Created</th>
      <td mat-cell *matCellDef="let element"> {{element.annDateCreated}} </td>
    </ng-container>

    <!-- Announcement author -->
    <ng-container matColumnDef="teacherName">
      <th mat-header-cell *matHeaderCellDef>Instructor</th>
      <td mat-cell *matCellDef="let element"> {{element.teacherName}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>



</div>
