<form (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <h2 mat-dialog-title>Register</h2>
    <label id="pick-user-type-label">Please choose your user type: </label>
      <mat-radio-group aria-label="pick-user-type-label" [(ngModel)]="type" name="type" required>
        <mat-radio-button value="teacher">Teacher</mat-radio-button>
        <mat-radio-button value="student">Student</mat-radio-button>
      </mat-radio-group>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput [(ngModel)]="username" name="username" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput [(ngModel)]="password" name="password" required>
      </mat-form-field>
    </p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true">Cancel</button>
    <button type="submit" mat-raised-button color="accent" (click)="onSubmit()">Login</button>
  </mat-dialog-actions>
</form>

