<mat-toolbar>
  <h2>Welcome to the CMHS Course Website</h2>
  <span class="toolbar-flex"></span>
  <a routerLink='/home' >Home</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/students/assignments'>Assignments</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/students/announcements'>Announcements</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/students/grades'>Grades</a>
  <span class="toolbar-flex"></span>
</mat-toolbar>

<p>
  {{assignment}}
</p>
<p>
  {{viewOneAssignment(11)}}
</p>

<!--div *ngFor="let sub of submissions">
  <p>
    {{sub.studentName}}<br>
    {{sub.submission}}<br>
    {{sub.submissionDate}}<br>
    grade: {{sub.grade}}
  </p>
</div-->
