<mat-toolbar>
  <h2>Welcome to the CMHS Course Website</h2>
  <span class="toolbar-flex"></span>
  <a routerLink='/teachers-homepage' >Home</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/teachers-assignments'>Assignments</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/teachers-announcements'>Announcements</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/teachers-grades'>Grades</a>
  <span class="toolbar-flex"></span>
</mat-toolbar>

<button mat-stroked-button (click)="showAnnForm()">Create New Announcement</button>

<!--<div *ngFor="let ann of announcements">-->


  <div class="mat-elevation-z8">
    <h3 matColumnDef="title">Announcements</h3>
    <table mat-table [dataSource]="announcements">
      <ng-container matColumnDef="annTitle">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let ann"> {{ann.annTitle}} </td>
      </ng-container>
      <ng-container matColumnDef="annBody">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let ann"> {{ann.annBody}} </td>
      </ng-container>
      <ng-container matColumnDef="annDelete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let ann">
          <button mat-stroked-button (click)="deleteAnn(ann.annID)">Delete</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="annEdit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let ann">
          <button mat-stroked-button (click)="showEditForm(ann.annID, ann.annTitle, ann.annBody)">Edit</button>
        </td>
      </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>


  <form  id="createForm" (ngSubmit)="createAnn()" style="display: none">
    <h2>Create Announcement</h2>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Name of Announcement</mat-label>
        <input matInput [(ngModel)]="annTitle" name="annTitle" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Announcement</mat-label>
        <input matInput [(ngModel)]="annBody" name="annBody" required>
      </mat-form-field>
    </p>
    <button mat-stroked-button>Submit Assignment</button>
  </form>


<form  id="editForm" (ngSubmit)="editAnn()" style="display: none">
  <h2>Edit Announcement</h2>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Name of Announcement</mat-label>
      <input matInput [(ngModel)]="currentAnnTitle" name="annTitle" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Announcement</mat-label>
      <input matInput [(ngModel)]="currentAnnBody" name="annBody" required>
    </mat-form-field>
  </p>
  <button mat-stroked-button>Submit Assignment</button>
</form>



