<mat-toolbar>
  <h2>Welcome to the CMHS Course Website</h2>
  <span class="toolbar-flex"></span>
  <a routerLink='/teachers/homepage' >Home</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/teachers/assignments'>Assignments</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/teachers/announcements'>Announcements</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/teachers/grades'>Grades</a>
  <span class="toolbar-flex"></span>

</mat-toolbar>
<div *ngFor="let sub of submissions">
  <p>
    {{sub.submission}}
  </p>
</div>
