<mat-toolbar>
  <h2>Welcome to the CMHS Course Website</h2>
  <span class="toolbar-flex"></span>
  <a routerLink='/teachers-homepage' >Home</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/teachers-assignments'>Assignments</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/teachers-announcements'>Announcements</a>
  <span class="toolbar-flex"></span>
  <a routerLink='/teachers-grades'>Grades</a>
  <span class="toolbar-flex"></span>
</mat-toolbar>


<button mat-stroked-button (click)="createAsn()">Create New Assignment</button>

<div class="mat-elevation-z8">
  <h3 matColumnDef="title">Assignments</h3>
  <table mat-table [dataSource]="assignments">
    <ng-container matColumnDef="asnSubject">
      <th mat-header-cell *matHeaderCellDef> Subject </th>
      <td mat-cell *matCellDef="let asn"> {{asn.asnSubject}} </td>
    </ng-container>
    <ng-container matColumnDef="asnTitle">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let asn"> {{asn.asnTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="asnDateCreated">
      <th mat-header-cell *matHeaderCellDef> Date Created </th>
      <td mat-cell *matCellDef="let asn"> {{asn.asnDateCreated}} </td>
    </ng-container>
    <ng-container matColumnDef="asnDueDate">
      <th mat-header-cell *matHeaderCellDef> Date Due </th>
      <td mat-cell *matCellDef="let asn"> {{asn.asnDueDate}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageEvent = $event">
    
  </mat-paginator>
</div>




<div>
  <form (ngSubmit)="onSubmit()">
    <h2>Create Assignment</h2>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Name of Subject</mat-label>
        <input matInput [(ngModel)]="asnSubject" name="asnSubject" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Name of Assignment</mat-label>
        <input matInput [(ngModel)]="asnTitle" name="asnTitle" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [(ngModel)]="asnDateCreated" name="asnDateCreated" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Due Date</mat-label>
        <input matInput [(ngModel)]="asnDueDate" name="asnDueDate" required>
      </mat-form-field>
    </p>

    <button mat-stroked-button (click)="submitAsn()">Submit Assignment</button>


  </form>
</div>


